<div class="status row">
  <span class="span2">
    <div class="score value"><%= score %></div>
    <div class="label">Score</div>
  </span>
  <span class="span2">
    <div class="round value">10</div>
    <div class="label">Time remaining in round (sec)</div>
  </span>
  <span class="span2">
    <div class="game value"><%= roundsRemaining %></div>
    <div class="label">Rounds remaining in game</div>
  </span>
  <span class="span2 result"></span>
  <span class="span4 info"></span>
</div>

<div class="gameboard-container">
  <div class="gameboard">

    <div class="game-input">
      <div class="photos btn-group row" data-toggle="buttons-radio">
        <% @photos.each do |p| %>
        <button class="btn span2" data-action="select-photo"><img src="<%= p %>" /></button>
        <% end %>
      </div>

      <div class="names btn-group row" data-toggle="buttons-radio">
        <% @ids.each do |id| %>
        <button class="btn span2" data-action="select-name" data-id="<%= id %>"><%= @names[id] %></button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="business-cat hidden">
    <img class="taunt" src="" />
  </div>
</div>

