<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Photo url:</b>
  <%= @person.photo_url %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Provider:</b>
  <%= @person.provider %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
