<a href="https://github.com/jmouel/socialnamegame"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div class="hero-unit centered">
  <h1>Social Name Game</h1>

  <p>
    This is a sample app built for <a href="http://www.salesforce.com/dreamforce/DF12/">Dreamforce 2012</a>.
    It retrieves your contacts (up to 500) from Twitter, Facebook, LinkedIn, or Salesforce and their
    the names and photos to test your ability to visually identify them.
  </p>

  <h4>Instructions</h4>
  <ul>
    <li>A game lasts for 10 rounds.</li>
    <li>During each round, a series of 5 random photos and names are shown from your network.</li>
    <li>Only one name/photo pair is correct.</li>
    <li>Identify the correct name/photo pair within 10 seconds and receive 10 points.</li>
    <li>If you make 3 correct selections in a row, you receive a bonus 5 rounds.</li>
    <li>At least 100 contacts are required to play the game.</li>
  </ul>

  <div class="body well">
    <% if current_user %>
      <%= image_tag current_user.photo_url %> <%= current_user.name %>
      <%= link_to "[Sign out]", signout_path %>

      <div class="db-info">
        Your game contains <%= people_count %> of your contacts from <%= provider %>.<br />(Only contacts with photos and names are included)
      </div>

      <% if people_count < 100 %>
        <div class="error">You need at least 100 contacts to play the game.</div>
      <% else %>
      <div class="play">
        <button class="btn btn-success btn-large" onclick="window.location='/game/begin_game'">Begin Game!</button>
      </div>
      <% end %>
    <% else %>
      <div class="signin">
        <span>Sign in with:</span>
        <a href="/auth/twitter"><i class="twitter-provider-logo"></i></a>
        <a href="/auth/facebook"><i class="facebook-provider-logo"></i></a>
        <a href="/auth/linkedin"> <i class="linkedin-provider-logo"></i></a>
        <a href="/auth/salesforce"><i class="salesforce-provider-logo"></i></a>
      </div>
    <% end %>

  </div>

  <h4><a href="/game/scores">High Scores</a></h4>
</div>